<br>
<a class="back-btn" href="/topics/<%= @comment.topic_id %>">Back</a>
<br>

<div class="edit-container">
  <h2> Current Comment: </h2>

    <div class="comment-content">
      <%= Markdown.new(@comment.content).to_html%>
    </div>

  <div class="edit-form">

    <h3> Edit below </h3>

    <%= form_for @comment do |f| %>
      <%= f.label :content %>:
      <%= f.text_area_tag :content, size: "100x20" %>
      <br>
      <%= f.submit %>
    <% end %>

    <!-- DELETE COMMENT -->
    <form method="post" action="/comments/<%= @comment.id %>">
      <input type="hidden" name="_method" value="delete">
      <button> Delete Comment </button>
    </form>

  </div> <!-- edit form -->

</div> <!-- edit container -->