<div class="users-div">

  <!-- USER'S CURRENT PROFILE -->
  <h2> <%= @user.name %>, your current profile: </h2>
  <p> <img src=" <%= @user.profile_pic %> "> </p>
  <p> <strong>Name:</strong> <%= @user.name %> </p>
  <p> <strong>Username:</strong> <%= @user.username %> </p>


  <!-- EDIT PROFILE FORM -->
  <div class="edit-form">

    <h3> Edit your profile: </h3>

    <%= render "form" %>


    <!-- DELETE PROFILE FORM -->
    <form method="post" action="/users/<%= @user.id %>"> 
      <input type="hidden" name="_method" value="delete">
      <button> Delete Profile </button>
    </form>

  </div> <!--edit form -->

</div> <!-- users-div -->