<!-- LOG IN FORM MODAL -->
<!-- <div id="login" class="modal-container">
  <div class="modal-content"> -->

   <!--  <a id="login-close-btn" class="close-btn" href=""> Close </a> -->

    <%= form_for :session, url: login_path do |f| %>
      <%=f.label :username %>:
      <%=f.text_field :username, {name: :username}%>
      <br>
      <%=f.label :password %>
      <%=f.password_field :password %>
      <br>
      <%=f.submit "Log in!" %>
    <% end %>
<!--   </div>
</div> -->